<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TemplateHTML" value="Template.html"/>
    <add key="Style" value="markdown-github.css"/>
  </appSettings>
</configuration>